<div class="">
    <div class="">Hello <%= full_name %>,</div>
    <div class="">
        <p>
            <%= message %>
        </p>
    </div>
    <div class="">
        <div>Name : <%= user_name %></div>
        <div>Email : <%= user_email %></div>
    </div>
    
    <div class="">Regards, <br>
        <%= site_title %>
    </div>
</div>