<div class="">
    <div class="">Hi <%= performer_fullname %>,</div>
    <div class="">Chat room booked with the details below:</div>
    <div class="">User Name: <%= user_fullname %></div>
    <div class="">Price: $<%= room_price %></div>
    <div class="">Type: <%= room_type %></div>
    <div class="">Duration: <%= duration %> minutes</div>
    <div class="">Schedule Date & Time: <%= schedule_date_time %></div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards, <br><%= site_title %></div>
</div>