<div class="">
    <div class="">Hi <%= user_fullname %>,</div>
    <div class="">You have successfully booked the chatroom as below:</div>
    <div class="">Performer Name: <%= performer_fullname %></div>
    <div class="">Price: $<%= room_price %></div>
    <div class="">Type: <%= room_type %></div>
    <div class="">Duration: <%= duration %> minutes</div>
    <div class="">Schedule Date & Time: <%= schedule_date_time %></div>    
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards, <br><%= site_title %></div>
</div>